/* ==========================================================================
   Menus
   ========================================================================== */
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: none;
			float: left;
			left: 0;
			position: absolute;
			top: 1.5em;
			z-index: 99999;
			ul {
				left: 100%;
				top: 0;
			}
		}
	}
	li {
		display: inline-block;
		position: relative;
		& + li {
			margin-left: 1em;
		}
		&:hover {
			> ul {
				display: block;
			}
		}
	}
	a {
		display: block;
		font-size: 1.4em;
		text-decoration: none;
		padding: 0.7em 0.5em;
		text-transform: uppercase;
		font-weight: inherit;
		color: #000;
		border-bottom: 0.3em solid;
		transition: 0.3s ease border-color, 0.3s ease opacity;
		opacity: 0.9;
		&:hover, &:active, &.active {
			color: #3e3e3e - 24;
		}
	}
}

.nav-menu {
	li {

	}
}
/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 45em) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		width: 100%;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
