/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 85em;

// Text Selection
$selectionColor: orange;

// Colors
$red: #e91e63 - 25;
$blue: blue;
$brandPink: #e91e63;
$bodyBackground: #32373c;
$darkGrey: #3e3e3e;
$pagePadding: 15%;

$textColour: #fff;
$borderStyle: 0.15em solid #1f1f1f;
